*{
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

//HEADER
header{
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;

}

.container{

  display: flex;
  width: 100%;

  padding: 30px 0;

  aside{

    width: 20%;

    padding: 10px;

    div#add_elem{
      width: 60%;

      display: flex;
      justify-content: space-between;;

      font-weight: bold;

      color: white;

      border-radius: 10px;

      padding: 5px;

      position: relative;

      .drop-box{

        width: 15%;
        display: none;

        form{
          width: 100%;
          position: absolute;
          left: 0px;
          top: 42px;
          color: lightseagreen;

          input{
            width: 80%;
          }

          button{
            margin-top: 10px;
          }
        }
      }

    }
  }


  label{
    width: 100px;
  }


  .box-wrapper{
    width: 85%;

  }
  &::after{
    clear: both;
    display: table;
    content: "";
  }

  .box{

    width: calc(100% / 4 - 10px);
    min-height: 176px;

    font-weight: bold;

    margin: 10px 10px;
    padding: 10px;

    float: left;

    text-align: center;

    border-radius: 10px;
    color: white;


  }
}


footer{
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}


// HELPER class
.add_btn{
  cursor: pointer;
  width: 15%;
  text-align: center;
  position: absolute;
  right: 5px;
}

.bg_orange{
  background-color: orange;
}
.bg_purple{
  background-color: purple;
}
.bg_coral{
  background-color: coral;
}
.bg_lightblue{
  background-color: lightblue;
}
