*{
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

//HEADER
header{
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;

}

.container{

  display: flex;
  width: 100%;

  aside{

    width: 20%;

    padding: 10px;

    div#add_elem{
      width: 60%;

      display: flex;
      justify-content: space-between;;

      font-weight: bold;

      background-color: orange;
      color: white;

      border-radius: 10px;

      padding: 5px;

      position: relative;

    }
  }

  .drop-box{

    width: 15%;
    display: none;

    form{
      width: 10%;
      position: absolute;

      button{
        margin-top: 10px;
      }
    }
  }

  label{
    width: 100px;
  }


  .box-wrapper{
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &::after{
    clear: both;
    display: table;
    content: "";
  }

  .box{

    width: calc(100% / 4 - 10px);


    margin: 10px auto;
    padding: 20px;

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }
}


footer{
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}


// HELPER class
.add_btn{
  cursor: pointer;
  width: 15%;

  text-align: center;
}
.bg_orange{
  background-color: orange;
}
.bg_purple{
  background-color: purple;
}
.bg_coral{
  background-color: coral;
}
.bg_lightblue{
  background-color: lightblue;
}
